:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);

}

img {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

#container {
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.card {
  background-color: var(--white);
  padding: 1em;
  border-radius: 12px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.card-body {
  text-align: center;
}

.card-body h2 {
  font-weight: 700;
}

.card-body p {
  color: grey;
  font-weight: 400;
  padding-left: 1em;
  padding-right: 1em;
}